<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Details</title>
    <link rel="stylesheet" href="../../../public/styles/reset.css">
    <link rel="stylesheet" href="../../../public/styles/style.css">
</head>

<body>
    <header>
        <nav>
            <img id="logo" src="../../public/images/logo.png" alt="">
            <ul>
            <li><span>A</span>dopted <span>P</span>ets</li>
            <li><span>A</span>bout <span>U</span>s</li>
            </ul>
        </nav>

        <div>
            <h2>Your Adoption list:</h2>
        </div>
    </header>
 

    <main>

        <section id="grid-elm">
            <!-- <h2 class="urbest">Your best friend is waiting for you...</h2> -->

            <div class="ele card">
                    
                    <img src="<%= pet.pet_image_url.medium %>" alt="<%= pet.pet_species %>">
                
          
                <h3><span>Name:</span> <%= pet.pet_name %> </h3>
                <hr>
                <h4><span>Type:</span> <%= pet.pet_type %> </h4>
                <hr>
                <h4><span>Breed:</span> <%= pet.pet_breed %> </h4>
                <hr>
                <p><span>Description:</span> <%= pet.pet_description %> </p>
               
                <% if (!pet.id) { %>
                <form action="/pets/" method="POST">
                    <input type="hidden" name="petID" value="<%= pet.pet_id %>">
                    <button class="myButton" type="submit">Adopt</button>
                </form>
                <% } %>
            </div>
        </section>

    </main>
    <footer>
        <h4>All Rights reserved.Le Petit © 2020 </h4>
    </footer>
    
</body>

</html>