<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Details</title>
    <link rel="stylesheet" href="../../../public/styles/reset.css">
    <link rel="stylesheet" href="../../../public/styles/base.css">
</head>
<body>
    <header>
        <h2 id="DD">Details</h2>

        <ul>
            <li class="link"><a href="/">Home</a></li>
            <li class="link" ><a href="/searches/new">Search Page</a></li>
        </ul>
    </header>

<main>
    
    <section>
        <div>
            <img src="<%= pet.pet_image_url.medium %>" alt="<%= pet.pet_species %>">
            <h3> <%= pet.pet_name %> </h3>
            <h4> <%= pet.pet_type %> </h4>
            <h4> <%= pet.pet_breed %> </h4>
            <p> <%= pet.pet_description %> </p>
            <% if (!pet.id) { %>
            <form action="/pets/" method="POST">
            <input type="hidden" name="petID" value="<%= pet.pet_id %>">
            <button type="submit">Adopt</button>
            </form>
            <% } %>
        </div>
    </section>
    
</main>
<footer>
    <h4>All Rights reserved.Le Petit © 2020 </h4>
</footer>
    
</body>
</html>