<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show Page</title>
</head>
<body>

    <header> <h2>   Show Page  </h2>   </header>
<main>
    <section id="my-section">
        <img src="<%=
         %>">
        <h3><%=%></h3>
        <h4><%= %></h4>
        <p><%= %></p>
        <p><%=  %></p>
        <p><%= %></p>
    </section>
</main>
    
</body>
</html>