<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/reset.css">
    <link href="https://fonts.googleapis.com/css2?family=Acme&family=Liu+Jian+Mao+Cao&family=Pacifico&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/styles/style.css">
    <title>Le-Petit</title>
</head>

<body class="is-preload">

    <header>
        <nav>
            <img id="logo" src="../../public/images/logo.png" alt="">
            <ul>
            <li><a href="/adoptedpets/"><span>A</span>dopted <span>P</span>ets</li></a>
            <li><span>A</span>bout <span>U</span>s</li>
            </ul>
        </nav>

        <div>
            <h2>Find the Purrfect Match</h2>
            <!-- <p>A New Best Friend Is Waiting For You</p> -->
            <a href="/searches/new" class="myButton">Search</a>
        </div>
    </header>

    <main>
    <section id="grid-elm">
    <% pets.forEach(pet => { %>
    <div class="ele card">
        <img src="<%= pet.pet_image_url.medium %>" alt="<%= pet.pet_species %>">
        <h3> <%= pet.pet_name %> </h3>
        <hr>
        <h4> <%= pet.pet_type %> </h4>
        <hr>
        <h4> <%= pet.pet_breed %> </h4>
        <hr>
        <a href="/pets/<%= pet.pet_id %>" class="myButton">View Details</a>
    </div>
    <% }) %>
</section>
</main>

</body>

</html>