<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To Adopt</title>
</head>
<body>
    <% pets.forEach(pet => { %>
        <div>
            <img src="<%= pet.pet_image_url.medium %>" alt="<%= pet.pet_species %>">
            <h3> <%= pet.pet_name %> </h3>
            <h4> <%= pet.pet_type %> </h4>
            <h4> <%= pet.pet_breed %> </h4>
            <p> <%= pet.pet_description %> </p>
            <a href="/pets/<%= pet.pet_id %>"><button>View Details</button></a>
        </div>
        <% }) %>
</body>
</html>