<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To Adopt</title>
    <link rel="stylesheet" href="../../../public/styles/toAdoptPage.css">
</head>

<body>
    <header>
        <h2 id="DD">Adoption list</h2>
        

        <ul>
            <li class="link"><a href="/">Home</a></li>
            <li class="link"><a href="/searches/new">Search Page</a></li>
        </ul>
    </header>
    <h2 class="urbest"> Your Adoption list:</h2>
    <div class="imggif">
    <img src="/public/styles/source.gif" alt="">
    </div>
    <section id="Con">
    
    <% pets.forEach(pet => { %>
    
    ////////////mais///////////////////
        <div class="fadetext item" >
            <img src="<%= pet.pet_image_url.medium %>" alt="<%= pet.pet_species %>">
            <section class="center">
            <p><span>Name:  </span> <%= pet.pet_name %> </p>
            <p><span>Type:  </span> <%= pet.pet_type %> </p>
            <p><span>Breed:   </span> <%= pet.pet_breed %> </p>
            <p><span>Description:  </span> <%= pet.pet_description %> </p>
        </section>
            <a href="/pets/<%= pet.pet_id %>"><button class="myButton">View Details</button></a>
        </div>
        <% }) %>
    </section>
   
    <footer>
        <h4>All Rights reserved.Le Petit © 2020 </h4>
    </footer>

////////////mais//////////////////////

    <div>
        <img src="<%= pet.pet_image_url.medium %>" alt="<%= pet.pet_species %>">
        <h3> <%= pet.pet_name %> </h3>
        <h4> <%= pet.pet_type %> </h4>
        <h4> <%= pet.pet_breed %> </h4>
        <p> <%= pet.pet_description %> </p> 
        <% if (!pet.pet_comments) { %>
        <span></span>
        <% } else { %>
        <p> <%= pet.pet_comments %> </p>
        <% } %>
        <button>Comment</button>
        <form action="/delete/<%=pet.pet_id%>?_method=DELETE" method="POST">
            <button type="submit">Remove Pet</button>
        </form>
        <form action="/addnote/<%= pet.pet_id %>?_method=PUT" method="POST">
            <textarea name="pet_comments" id="comment" cols="30" rows="10"
                placeholder="Tell the owner something..."></textarea>
            <button type="submit">Add Comment</button>
        </form>

    </div>
    <% }) %>
/////////////////tommalieh/////////////////
</body>

</html>